# OS junk
.DS_Store
Thumbs.db
.spotlight-V100
.Trashes

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.swp
*.swo

# VSCode (Team settings allowed, local user state ignored)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Safety nets (in case commands are run in the root)
node_modules/
npm-debug.log
*.log