# gradle-wrapper.jar
# /gradlew
# /gradlew.bat

# Gradle cache
/.gradle
/captures/
/local.properties
.cxx/

# Android/Flutter generated
GeneratedPluginRegistrant.java

# Build
/app/build/
/build/

# Keystore
key.properties
**/*.keystore
**/*.jks

# Google Firebase
/app/google-services.json