name: taskie
description: "Create workspaces, crush your goals, and climb the leaderboard. Taskie makes productivity fun and collaborative for everyone."
publish_to: "none" # Don't publish to pub.dev

# Build number is not necessary here as it is defined
# by the Github deploy workflow on deploy, but that
# workflow reads the version from here, so manual
# change here is necessary
version: 1.0.0+1

environment:
  sdk: ^3.8.0

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  go_router: ^15.1.2
  json_annotation: ^4.9.0
  provider: ^6.1.5
  flutter_secure_storage: ^9.2.4
  dio: ^5.8.0+1
  pretty_dio_logger: ^1.4.0
  share_plus: ^11.0.0
  logging: ^1.3.0
  intl: any
  google_sign_in: ^6.3.0
  envied: ^1.1.1
  font_awesome_flutter: ^10.8.0
  device_preview: ^1.2.0
  cached_network_image: ^3.4.1
  shared_preferences: ^2.5.3
  collection: ^1.19.1
  animations: ^2.0.11
  number_paginator: ^1.1.1
  device_info_plus: ^12.3.0
  package_info_plus: ^9.0.0
  hive: ^2.2.3
  hive_flutter: ^1.1.0
  url_launcher: ^6.3.2
  toastification: ^3.0.3
  firebase_remote_config: ^6.1.4
  firebase_core: ^4.4.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  build_runner: ^2.4.15
  json_serializable: ^6.9.5
  envied_generator: ^1.1.1
  change_app_package_name: ^1.5.0

flutter:
  uses-material-design: true
  generate: true
  assets:
    - assets/images/
  fonts:
    - family: Roboto
      fonts:
        - asset: assets/fonts/Roboto-Regular.ttf
        - asset: assets/fonts/Roboto-Bold.ttf

scripts:
  # derry is used for running commands
  build_runner:development: dart run build_runner clean && dart run build_runner build --delete-conflicting-outputs --define="envied_generator:envied=path=.env.development"
  build_runner:production: dart run build_runner clean && dart run build_runner build --delete-conflicting-outputs --define="envied_generator:envied=path=.env.production"
  generate_localization: flutter gen-l10n
  run:development: flutter run --flavor development --target lib/main.dart
  run:development:profile: flutter run --flavor development --target lib/main.dart --profile
  run:production: flutter run --flavor production --target lib/main_production.dart --release
  run:production:profile: flutter run --flavor production --target lib/main_production.dart --profile
