name: API CI

on:
  # On every pull request
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - ".github/workflows/api-ci.yml"
      - "api/**"
  # On push to main (this should generally happen via PRs develop to main)
  push:
    branches: [main]
    paths:
      - ".github/workflows/api-ci.yml"
      - "api/**"

# Cancel in progress workflow, if new code push happened
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    name: Lint, Test and Build
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./api
    steps:
      # 1. Checkout the code
      - name: Checkout Code
        uses: actions/checkout@v4

      # 2. Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm" # Cache node_modules
          cache-dependency-path: api/package-lock.json # Specify path to lockfile

      # 3. Install Dependencies
      - name: Install Dependencies
        run: npm ci

      # 4. Run lint check
      - name: Check Linting
        # Only check if there are linting errors, do not auto-fix
        run: npm run lint:check

      # 5. Run tests
      - name: Run Tests
        run: npm run test

      # 6. Build the bundle
      - name: Build the bundle
        run: npm run build
